@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@media (max-width: 600px) {
  body {
    background: #E5E5E5;
  }
  
  header {
    background: #CF2B2B;
    width: 100%;
    position: fixed top;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  

  header h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
    padding-top: 8px;
  }

  header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
    margin-top: 5px;
    padding-bottom: 18px;

  }

  h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-top: 31px;
    margin-bottom: 17px;
    margin-left: 19px;
  }

  .opcoes-comidas{
    margin-left: 3px;
    display: flex;
    overflow-x:scroll ;
  }

  .opcoes-bebidas {
    margin-left: 3px;
    display: flex;
    overflow-x:scroll;
    margin-top: 17px;
    
  }

  .opcoes-sobremesas {
    margin-left: 3px;
    display: flex;
    overflow-x:scroll;
    margin-top: 17px;
    margin-bottom: 108px;
  }

  .card {
    min-width: 172px;
    height: 216px;
    background: #F9f9f9;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 16px;
   
  }

  .card img {
    width:144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
  }

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-left: 15px;
    margin-top: 8px;
  }

  .descritivo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-left: 15px;
    margin-top: 4px;
  }

  .valor {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 5px;
  margin-left: 14px;
  }
 
  footer {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 92px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botao {
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botao p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    max-width: 60%;
  }

  .selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    border-radius: 9px;
  }

  .botao-fecha-pedido {
    width: 364px;
    height: 61px;
    background: #32B72F;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .botao-fecha-pedido p {
    font-family: 'Roboto';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }
  .tela-confirmacao {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .quadro-pedidos {
    width: 94vw;
    max-width: 372px;
    height: 37vh;
    display: flex;
    flex-direction: column;
    min-height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }

  /* hidden colocado por último pra sobrepor-se a qualquer display */
  .hidden {
    display: none;
  }

  .quadro-pedidos h3 {
    margin-top: 21px;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
  .prato-comida-escolhido,.bebida-escolhida, .sobremesa-escolhida,.valor-total  {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-top: 13px;
    width:86%

  }
  
  .prato-comida-escolhido p,.bebida-escolhida p, .sobremesa-escolhida p,.valor-total p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }
  
  .valor-total p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  .botao-pode-pedir {
    max-width: 329px;
    height: 52px;
    background-color: #fff;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botao-pode-pedir p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
  }

  .botao-cancelar {
    max-width: 329px;
    height: 52px;
    background-color: #50D074;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botao-cancelar p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
  }

  
}